<%- include('partials/_header', {title: chapter_title }); %>

  <div class='container'>
    <div class='read-box'>
      <div class='story-info' id="<%= id %>">
        <div class='titles'>
          <h2>
            <%= story_title %>
          </h2>
          <h2>
            <%= chapter_title %>
          </h2>

        </div>
        <div class='stats'>
          <h3>By: <%= contributor_name %>
          </h3>
          <h3>Published: <%= publish_date %>
          </h3>
          <h3>Total Upvotes: <span id="upvote-count"><%= upvotes %></span></h3>
        </div>
      </div>
      <section class="story-text">
        <%= body %>
      </section>
      <footer class='chapter-navigation'>
        <ol>
          <li><a href="/read">🔙 Contributions</a></li>
          <li class="f-sb">
            <% if (authorView) { %>
              <button id="approve-button">🥇 Approve Followup</button>
            <% } %>
            <% if (contributorView) { %>
              <button id="delete-button">🗑️ Delete Entry</button>
            <% } %>
            <% if (!contributorView && signedIn) { %>
              <% if(!upvoted) { %>
                <button id="upvote-button">👍 Upvote</button>
              <% } else { %>
                <button id="upvote-button">👍 Upvoted</button>
              <% } %>
            <% } %>
          </li>
        </ol>
      </footer>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      const upvoteID = $('.story-info').attr('id');

      $('#approve-button').click(function() {
        $.post(`/contribution/approve/`, { upvoteID }, function(data, status) {
          if (data) {
            window.location.href = "/read";
            return;
          }
        });
      });

      $('#delete-button').click(function() {
        $.post(`/contribution/delete/`, { upvoteID }, function(data, status) {
          if (data) {
            window.location.href = "/read";
            return;
          }
        });
      });

      $('#upvote-button').click(function() {
        const $thisButton = $(this);
        $.post(`/read/upvote/`, { upvoteID }, function(upvotes, status) {
          console.log(upvotes);
          if (upvotes !== undefined) {
            //Get button's HTML
            const label = $thisButton.html();
            $thisButton.html(label === "👍 Upvote" ? "👍 Upvoted" : "👍 Upvote");

            $(`#upvote-count`).html(upvotes);
          }
        });
      });

    });

  </script>

  <%- include('partials/_footer'); %>
