<%- include('partials/_header', {title: "Write Contribution - Story Maker" }); %>
<div class="container centered">
<main id="story-editor">
    <h2>Edit Contribution</h2>
    <form method="POST" id="draft" action="/contribute/edit/<%= contributionID %>">
      <div>
        <h2 id="story-title">Story: <%= chapterInfo.story_title %>
        </h2>
        <h3 id="original-author">By: <%= chapterInfo.author_name %>
        </h3>
      </div>
      <% if(chapterInfo.parent_name) { %>
        <div>
          <% if(chapterInfo.chapter_title) { %>
            <h4 id="previous-chapter">Previous chapter: <%= chapterInfo.chapter_title %>
            </h4>
            <% }; %>
              <h4 id="chapter-author">By: <%= chapterInfo.parent_name %>
              </h4>
        </div>
        <% }; %>
          <label for="chapterTitle">Chapter Title</label>
          <input type="text" name="chapterTitle" value="<%= chapterData.chapter_title %>">
          <%- include('partials/_text_editor', { body: chapterData.chapter_text }) %>
          <div id="success" class="hidden notification">
          </div>
          <div id="fail" class="hidden notification">
          </div>
          <footer>
          <div class="counters">
            <p>Letter count: <span id="letter-counter">0</span></p>
            <p>Word count: <span id="word-counter">0</span></p>
          </div>
            <div class="action-buttons">
              <button id="update-story">Update</button>
              <button id="discard-changes">Discard Changes</button>
            </div>
          </footer>
    </form>
  </main>
</div>

  <script type="text/javascript" src="/scripts/stats.js"></script>
  <script type="text/javascript" src="/scripts/edit-contribution-actions.js"></script>

  <%- include('partials/_footer'); %>
