<%- include('partials/_header', {title: "Write Contribution - Story Maker" }); %>
  <main id="story-editor">
    <h2>New Contribution</h2>
    <form method="POST" id="draft" action="/contribute/<%= id %>/<%= lastWinnerID %>/">
      <div>
        <h2 id="story-title">Story: <%= storyTitle %>
        </h2>
        <h3 id="original-author">By: <%= storyAuthor %>
        </h3>
      </div>
      <div>
        <h4 id="previous-chapter">Previous chapter: <%= lastWinner %>
        </h4>
        <h4 id="chapter-author">By: <%= winnerAuthor %>
        </h4>
      </div>
      <label for="chapterTitle">Chapter Title</label>
      <input type="text" name="chapterTitle">
      <%- include('partials/_text_editor', { body: "" }) %>
        <div>
          <button id="save-story">Save</button>
          <button id="publish">Publish</button>
          <button id="discard-story">Discard</button>
        </div>
        <div id="success" class="hidden notification">

        </div>
        <div id="fail" class="hidden notification">

        </div>

    </form>

  </main>
  <script type="text/javascript" src="/scripts/contribute.js"></script>

  <%- include('partials/_footer'); %>
