<%- include('partials/_header', {title: "Write Contribution - Story Maker" }); %>
  <main id="story-editor">
    <h2>New Contribution</h2>
    <form method="POST" id="draft" action="/contribution/<%= id %>/">
      <div>
        <h2 id="story-title">Story: <%= storyTitle %>
        </h2>
        <h3 id="original-author">By: <%= storyAuthor %>
        </h3>
      </div>
      <div>
        <h4 id="previous-chapter">Previous chapter: <%= lastWinner %>
        </h4>
        <h4 id="chapter-author">By: <%= winnerAuthor %>
        </h4>
      </div>
      <label for="chapterTitle">Chapter Title</label>
      <input type="text" name="chapterTitle">
      <%- include('partials/_text_editor') %>
        <div>
          <button id="save-story">Save</button>
          <button id="publish">Publish</button>
          <button id="discard-story">Discard</button>
        </div>
        <div id="success" class="hidden notification">

        </div>
        <div id="fail" class="hidden notification">

        </div>

    </form>

  </main>
  <script>
    const storyID = Number($('#story-title').val());

    $(document).ready(function() {
      const $notifications = $('.notification');
      $notifications.hide();
      $notifications.removeClass('hidden');

      const $success = $('#success');
      const $fail = $('#fail');

      $('input').keydown(function(event) {
        if (event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
      $('textarea').keydown(function(event) {
        if (event.keyCode == 9) {
          event.preventDefault();
          return false;
        }
      });

      $(document).submit(function() {
        event.preventDefault();
      });

      $('#save-story').on('click', function() {
        $notifications.slideUp();
        saveContribution($success, $fail);
      });

      $('#publish').on('click', function() {
        $notifications.slideUp();
        saveContribution($success, $fail, true);
      });

      $('#discard-story').on('click', function() {
        $notifications.slideUp();
        $.post('/story/discard/', function(result, status) {
          if (result) {
            window.location.href = "/read";
            return;
          };
          $fail.html('Something went wrong with discarding your draft. We apologize for the inconvenience.');
          $fail.slideDown();
        });
      });

    });
    /**
     * Handles the post request for saving and publishing new story
     */
    const saveContribution = function(success, fail, publish = false) {
      $draft = $('#draft');
      address = $draft.attr('action');

      const body = $draft.serialize();
      $.post(address + publish, body, function(data, status) {
        if (data) {
          if (publish) {
            window.location.href = "/read";
            return;
          }
          success.html(data).slideDown();
          return;
        }
        fail.html('Something went wrong with saving your contribution. We apologize for the inconvenience.').slideDown();
      });
    };



  </script>
  <%- include('partials/_footer'); %>
