<%- include('partials/_header', {title: "Story Maker"}); %>

<div class = 'container'>
  <div class = 'read-box'>
    <div class = 'story-info'>
      <h2><%= rootChapter.story_title %></h2>
      <h2><%= rootChapter.title %></h2>
    </div>
    <section class="story-text">
      <%= rootChapter.body %>
    </section>
    <div class = 'chapter-navigation'>
      <ol>
        <% childrenChapters.forEach(chapter => { %>
          <li><a href="/read/<%= rootChapter.story_title %>/<%= chapter.child_id %>"><%= chapter.title %></a></li>
        <% }); %>
        <li><a href="#">Contributions</a></li>
      </ol>
    </div>
  </div>
</div>

<%- include('partials/_footer'); %>
