<%- include('partials/_header', {title: "Read Stories - Open Book"}); %>

<div class = 'container'>
  <section class = 'all-stories half'>
    <h2>All Stories</h2>
    <ul>
      <% allStories.forEach(story => { %>
        <li>
          <a href="/read/<%= story.id %>">
            <%= story.story_title %><% if (story.completed) { %>
              - Completed
            <% } else { %>
              - Ongoing
            <% } %>
          </a>
          <p><%= story.description %></p>
          <p><%= story.description %></p>
        </li>
      <% }); %>
    </ul>
  </section>
  <section class = 'my-stories half'>
    <h2>My Stories</h2>
    <ul>
      <% myStories.forEach(story => { %>
        <li><a href="/read/<%= story.id %>"><%= story.story_title %></a></li>
      <% }); %>
    </ul>
  </section>
</div>

<%- include('partials/_footer'); %>
