<%- include('partials/_header', {title: "Read Stories - Open Book"}); %>

<div class = 'container'>
  <section class = 'all-stories half'>
    <h2>All Stories</h2>
    <ul>
      <% allStories.forEach(story => { %>
        <li><a href="/read/<%= story.story_title %>"><%= story.story_title %></a></li>
        <p><%= story.description %></p>
      <% }); %>
    </ul>
  </section>
  <section class = 'my-stories half'>
    <h2>My Stories</h2>
    <ul>
      <% myStories.forEach(story => { %>
        <li><a href="/read/<%= story.story_title %>"><%= story.story_title %></a></li>
      <% }); %>
    </ul>
  </section>
</div>

<%- include('partials/_footer'); %>
